.invisionBtn {
  text-transform: uppercase;
  height: 36px;
  border-radius: 4px;
  color: #001196;
  font-weight: bold;
  font-size: 14px;
  font-family: "Lato";
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
  border: 2px solid #38d69a;
  background-color: #ffffff;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
.invisionBtn:hover {
  background-color: #ebfff7;
}
.invisionBtn:focus {
  background-color: #aeeed6;
}
.invisionBtn:disabled {
  color: #9e9e9e;
  border: 2px solid #efefef;
  cursor: not-allowed;
}


.hover {
  background-color: #ebfff7 !important;
}
.focus {
  background-color: #aeeed6 !important;
}
.disabled {
  color: #9e9e9e !important;
  border: 2px solid #efefef !important;
  cursor: not-allowed !important;
}

  // :host {
  //     display: inline-flex;
  //     button {
  //       text-transform: uppercase;
  //       height: 36px;
  //       border-radius: 4px;
  //       color: #001196;
  //       font-weight: bold;
  //       font-size: 14px;
  //       font-family: 'Lato';
  //       letter-spacing: 1.25px;
  //       line-height: 16px;
  //       text-align: center;
  //       border: 2px solid #38d69a;
  //       background-color: #ffffff;
  //       cursor: pointer;
  //       padding-left: 20px;
  //       padding-right: 20px;

  //       &:focus {
  //         background-color: #aeeed6;
  //       }

  //       &:disabled {
  //         color: #9e9e9e;
  //         border: 2px solid #efefef;
  //         cursor: not-allowed;
  //       }
  //       &:hover {
  //         background-color: #ebfff7;
  //       }
  //     }

  // }
